# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Random-Projects.iml
# Datasource local storage ignored files
/../../../../../:\Random-Projects\.idea\.idea.Random-Projects.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
